<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/list_apprenants.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
    />
    <script
      src="https://kit.fontawesome.com/f454128a6e.js"
      crossorigin="anonymous"
    ></script>
    <title>Référentiel</title>
  </head>
  <body>
    <div class="container">
      <div class="left">
        <div class="logo"></div>
        <div>Menu</div>
        <div class="menu-vertical">
          <div class="menu-item">
            <a href="./dashboard.html">
              <i class="dash-icon"></i>
              Dashboard
            </a>
          </div>
          <div class="menu-item">
            <a href="./list_promos.html">
              <i class="promo-icon"></i>
              Promos
            </a>
          </div>
          <div class="menu-item">
            <a href="./list_referentiels.html">
              <i class="ref-icon"></i>
              Réferentiels
            </a>
          </div>
          <div class="menu-item">
            <a href="#">
              <i class="user-icon"></i>
              Utilisateurs
            </a>
          </div>
          <div class="menu-item">
            <a href="./visiteurs.html">
              <i class="visit-icon"></i>
              Visiteurs
            </a>
          </div>
          <div class="menu-item">
            <a href="./list_presences.html">
              <i class="presence-icon"></i>
              Presence
            </a>
          </div>
          <div class="menu-item">
            <a href="./evenements.html">
              <i class="event-icon"></i>
              Evénements
            </a>
          </div>
        </div>
      </div>
      <div class="right">
        <div class="menu-horizontal">
          <div class="burger-toggle">
            <i class=""></i>
            <input
              type="checkbox"
              class="cb"
              name="checkbox-burger"
              id="checkbox-burger"
            />
          </div>
          <div class="mh-icon">
            <i class="icon-menu"></i>
          </div>
          <div class="mh-search-bar">
            <input
              type="text"
              name="search"
              placeholder="Rechercher par matricule"
              id=""
            />
          </div>

          <div class="mh-date">
            <i class="fa-regular fa-calendar"></i>20 March 2024
          </div>
          <div class="mh-profil">
            <div class="photo-profil"></div>
            <div class="profil">
              <div class="profil-role">SUPER ADMIN</div>
              <div class="profil-name">
                Admin Admin
                <i class="fa fa-angle-down"></i>
              </div>
            </div>
          </div>
        </div>

        <div class="right-middle">
          <div class="breadcrumbs">
            <span>Apprenants</span>
            <div>
              <span>Promos ></span>
              <span>Liste ></span>
              <span>Detail ></span>
              <span>Liste</span>
            </div>
          </div>
          <div class="indication-promo">
            <div>Promotion: <span>Promotion 6</span></div>
            <div>Référentiel: <span>Dev Web/Mobile</span></div>
          </div>

          <div class="content">
            <div class="content-left">
              <span>1</span>
              <span></span>
            </div>
            <div class="tableau">
              <span style="font-size: 1rem; align-self: start">Apprenant</span>
              <div class="tableau-titre">
                <div>
                  Liste des Promotions
                  <span>(15)</span>
                </div>
                <div class="search-add">
                  <a href="#nouvelle-1"> <i class="fa fa-plus"></i>Nouvelle </a>
                  <a href="#insertion-masse"> Insertion en masse </a>
                  <a href="#">
                    <i class="fa-solid fa-right-to-bracket"></i>Fichier model
                  </a>
                  <a href="#">Liste des Exclus </a>
                </div>
              </div>
              <div class="tableau-titre tab-filtre">
                <i class="fa fa-search"></i>
                <input type="text" name="" placeholder="Filter" id="" />
              </div>
              <img
                src="../icons/save.png"
                style="width: 5%; align-self: self-start"
                alt=""
              />
              <div class="tableau-head">
                <div class="row">
                  <div class="col">Image</div>
                  <div class="col">Nom</div>
                  <div class="col">Prénom</div>
                  <div class="col">Email</div>
                  <div class="col">Genre</div>
                  <div class="col">Téléphone</div>
                  <div class="col">Action</div>
                </div>
              </div>
              <div class="tableau-body">
                <div class="row">
                  <div class="col">
                    <img src="../icons/man.png" width="23%" alt="" srcset="" />
                  </div>
                  <div class="col">Mbow</div>
                  <div class="col">Baye Saer</div>
                  <div class="col">mbowbayesaer44@gmail.com</div>
                  <div class="col">M</div>
                  <div class="col">778822211</div>
                  <div class="col"><span class="span-bleuf"></span></div>
                </div>
                <div class="row">
                  <div class="col">
                    <img src="../icons/man.png" width="23%" alt="" srcset="" />
                  </div>
                  <div class="col">Mbow</div>
                  <div class="col">Baye Saer</div>
                  <div class="col">mbowbayesaer44@gmail.com</div>
                  <div class="col">M</div>
                  <div class="col">778822211</div>
                  <div class="col"><span class="span-bleuf"></span></div>
                </div>
                <div class="row">
                  <div class="col">
                    <img src="../icons/man.png" width="23%" alt="" srcset="" />
                  </div>
                  <div class="col">Mbow</div>
                  <div class="col">Baye Saer</div>
                  <div class="col">mbowbayesaer44@gmail.com</div>
                  <div class="col">M</div>
                  <div class="col">778822211</div>
                  <div class="col"><span class="span-bleuf"></span></div>
                </div>
                <div class="row">
                  <div class="col">
                    <img src="../icons/man.png" width="23%" alt="" srcset="" />
                  </div>
                  <div class="col">Mbow</div>
                  <div class="col">Baye Saer</div>
                  <div class="col">mbowbayesaer44@gmail.com</div>
                  <div class="col">M</div>
                  <div class="col">778822211</div>
                  <div class="col"><span class="span-bleuf"></span></div>
                </div>
                <div class="row">
                  <div class="col">
                    <img src="../icons/man.png" width="23%" alt="" srcset="" />
                  </div>
                  <div class="col">Mbow</div>
                  <div class="col">Baye Saer</div>
                  <div class="col">mbowbayesaer44@gmail.com</div>
                  <div class="col">M</div>
                  <div class="col">778822211</div>
                  <div class="col"><span class="span-bleuf"></span></div>
                </div>
                <div class="row">
                  <div class="col">
                    <img src="../icons/man.png" width="23%" alt="" srcset="" />
                  </div>
                  <div class="col">Mbow</div>
                  <div class="col">Baye Saer</div>
                  <div class="col">mbowbayesaer44@gmail.com</div>
                  <div class="col">M</div>
                  <div class="col">778822211</div>
                  <div class="col"><span class="span-bleuf"></span></div>
                </div>
                <div class="row">
                  <div class="col">
                    <img src="../icons/man.png" width="23%" alt="" srcset="" />
                  </div>
                  <div class="col">Mbow</div>
                  <div class="col">Baye Saer</div>
                  <div class="col">mbowbayesaer44@gmail.com</div>
                  <div class="col">M</div>
                  <div class="col">778822211</div>
                  <div class="col"><span class="span-bleuf"></span></div>
                </div>
                <div class="row">
                  <div class="col">
                    <img src="../icons/man.png" width="23%" alt="" srcset="" />
                  </div>
                  <div class="col">Mbow</div>
                  <div class="col">Baye Saer</div>
                  <div class="col">mbowbayesaer44@gmail.com</div>
                  <div class="col">M</div>
                  <div class="col">778822211</div>
                  <div class="col"><span class="span-bleuf"></span></div>
                </div>
                <div class="row">
                  <div class="col">
                    <img src="../icons/man.png" width="23%" alt="" srcset="" />
                  </div>
                  <div class="col">Mbow</div>
                  <div class="col">Baye Saer</div>
                  <div class="col">mbowbayesaer44@gmail.com</div>
                  <div class="col">M</div>
                  <div class="col">778822211</div>
                  <div class="col"><span class="span-bleuf"></span></div>
                </div>
                <div class="row">
                  <div class="col">
                    <img src="../icons/man.png" width="23%" alt="" srcset="" />
                  </div>
                  <div class="col">Mbow</div>
                  <div class="col">Baye Saer</div>
                  <div class="col">mbowbayesaer44@gmail.com</div>
                  <div class="col">M</div>
                  <div class="col">778822211</div>
                  <div class="col"><span class="span-bleuf"></span></div>
                </div>
                <div class="row">
                  <div class="col">
                    <img src="../icons/man.png" width="23%" alt="" srcset="" />
                  </div>
                  <div class="col">Mbow</div>
                  <div class="col">Baye Saer</div>
                  <div class="col">mbowbayesaer44@gmail.com</div>
                  <div class="col">M</div>
                  <div class="col">778822211</div>
                  <div class="col"><span class="span-bleuf"></span></div>
                </div>
                <div class="row">
                  <div class="col">
                    <img src="../icons/man.png" width="23%" alt="" srcset="" />
                  </div>
                  <div class="col">Mbow</div>
                  <div class="col">Baye Saer</div>
                  <div class="col">mbowbayesaer44@gmail.com</div>
                  <div class="col">M</div>
                  <div class="col">778822211</div>
                  <div class="col"><span class="span-bleuf"></span></div>
                </div>
              </div>
              <div class="tableau-footer">
                <div class="per-page">
                  <span>Items per page</span>
                  <select name="per-page" id="">
                    <option value="" selected>10</option>
                  </select>
                </div>
                <div class="pagination">
                  <span>1 - 1 of 1</span>
                  <div class="pagination-right">
                    <a href="#" class="pagination-link first-page"
                      >|<i class="fa-solid fa-chevron-left"></i
                    ></a>
                    <a href="#" class="pagination-link previous"
                      ><i class="fa-solid fa-chevron-left"></i
                    ></a>
                    <span class="pagination-numbers"> </span>
                    <a href="#" class="pagination-link next"
                      ><i class="fa-solid fa-chevron-right"></i
                    ></a>
                    <a href="#" class="pagination-link last-page"
                      ><i class="fa-solid fa-chevron-right"></i>|</a
                    >
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="footer">
          <span>&copy; Sonatel Academy</span>
          <i class="fa-solid fa-gear"></i>
        </div>
      </div>
    </div>

    <div id="insertion-masse" class="overlay1">
      <div class="popup">
        <!-- <a class="close" href="#">&times;</a> -->
        <form action="" method="post">
          <h4>Choisir un fichier Excel</h4>
          <div>
            <span>Drop files here or click to upload</span>
            <input type="file" name="file" id="file" />
          </div>
        </form>
        <div>
          <a class="close" href="#">Fermer</a>
          <a href="#">Enregistrer</a>
        </div>
      </div>
    </div>

    <div id="nouvelle-1" class="overlay2">
      <div class="popup2">
        <div class="entete">
          <h3>Nouvel Apprenant</h3>
          <a class="close" href="#">&times;</a>
        </div>
        <div class="popup2-body">
          <div class="item1">
            <span>1</span>
            <span>Information Perso</span>
            <span></span>
            <span>2</span>
            <span>informations Suplémentaire</span>
          </div>
          <div class="item2"></div>
          <form action="" class="form3">
            <div class="form-input">
              <span>Nom</span>
              <input type="text" name="nom" placeholder="Entere le nom" id="" />
            </div>
            <div class="form-input">
              <span>Prénom</span>
              <input
                type="text"
                name="prenom"
                placeholder="Entere le prénom"
                id=""
              />
            </div>
            <div class="form-input">
              <span>Email</span>
              <input
                type="email"
                name="email"
                placeholder="Entere l'email"
                id=""
              />
            </div>
            <div class="form-input">
              <span>Téléphone</span>
              <input
                type="text"
                name="telephone"
                placeholder="Entere le téléphone"
                id=""
              />
            </div>
            <div class="form-input">
              <span>Sexe</span>
              <input
                type="text"
                name="sexe"
                placeholder="Choisir le sexe"
                id=""
              />
            </div>
            <div class="form-input">
              <span>Date Naissance</span>
              <input type="date" name="date" placeholder="" id="" />
            </div>
            <div class="form-input">
              <span>Lieu Naissance</span>
              <input
                type="text"
                name="lieunaiss"
                placeholder="Entere le lieu de naissance"
                id=""
              />
            </div>
            <div class="form-input">
              <span>N° CNI</span>
              <input
                type="text"
                name="nom"
                placeholder="Entere le numéro de la carte d'identité"
                id=""
              />
            </div>
            <div class="form-btn">
              <input type="checkbox" class="form-btn-ch" />
              <button class="btn-next">Suivant</button>
            </div>
          </form>
        </div>
      </div>
      <div class="popup3">
        <div class="entete">
          <h3>Nouvel Apprenant</h3>
          <a class="close" href="#">&times;</a>
        </div>
        <div class="popup3-body">
          <div class="item3">
            <span>1</span>
            <span>Information Perso</span>
            <span></span>
            <span>2</span>
            <span>informations Suplémentaire</span>
          </div>
          <div class="item4"></div>
          <form action="">
            <div class="form-input">
              <span>Nom & Prenom tuteur</span>
              <input type="text" name="nom" placeholder="Entere le nom" id="" />
            </div>
            <div class="form-input">
              <span>Contact Tuteur</span>
              <input
                type="text"
                name="prenom"
                placeholder="Entere le prénom"
                id=""
              />
            </div>
            <div class="form-input">
              <span>Photocopie CNI</span>
              <input
                type="file"
                name="email"
                placeholder="Entere l'email"
                id=""
              />
            </div>
            <div class="form-input">
              <span>Extrait de naissance</span>
              <input
                type="file"
                name="telephone"
                placeholder="Entere le téléphone"
                id=""
              />
            </div>
            <div class="form-input">
              <span>Diplome</span>
              <input
                type="file"
                name="sexe"
                placeholder="Choisir le sexe"
                id=""
              />
            </div>
            <div class="form-input">
              <span>Casier judiciaire</span>
              <input type="file" name="date" placeholder="" id="" />
            </div>
            <div class="form-input">
              <span>Visite Médicale</span>
              <input
                type="file"
                name="lieunaiss"
                placeholder="Entere le lieu de naissance"
                id=""
              />
            </div>

            <div class="form3-btn">
              <button class="btn-next">
                <i class="fa fa-close"></i>Cancel
              </button>
              <button class="btn-next1">
                <i class="fa fa-plus"></i> Créer nouvel apprenant
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </body>
</html>
