<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/list_referentiels.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
    />
    <script
      src="https://kit.fontawesome.com/f454128a6e.js"
      crossorigin="anonymous"
    ></script>
    <title>Référentiel</title>
  </head>
  <body>
    <div class="container">
      <div class="left">
        <div class="logo"></div>
        <div>Menu</div>
        <div class="menu-vertical">
          <div class="menu-item">
            <a href="./dashboard.html">
              <i class="dash-icon"></i>
              Dashboard
            </a>
          </div>
          <div class="menu-item">
            <a href="./list_promos.html">
              <i class="promo-icon"></i>
              Promos
            </a>
          </div>
          <div class="menu-item">
            <a href="./list_referentiels.html">
              <i class="ref-icon"></i>
              Réferentiels
            </a>
          </div>
          <div class="menu-item">
            <a href="#">
              <i class="user-icon"></i>
              Utilisateurs
            </a>
          </div>
          <div class="menu-item">
            <a href="./visiteurs.html">
              <i class="visit-icon"></i>
              Visiteurs
            </a>
          </div>
          <div class="menu-item">
            <a href="./list_presences.html">
              <i class="presence-icon"></i>
              Presence
            </a>
          </div>
          <div class="menu-item">
            <a href="./evenements.html">
              <i class="event-icon"></i>
              Evénements
            </a>
          </div>
        </div>
      </div>
      <div class="right">
        <div class="menu-horizontal">
          <div class="burger-toggle">
            <i class=""></i>
            <input
              type="checkbox"
              class="cb"
              name="checkbox-burger"
              id="checkbox-burger"
            />
          </div>
          <div class="mh-icon">
            <i class="icon-menu"></i>
          </div>
          <div class="mh-search-bar">
            <input
              type="text"
              name="search"
              placeholder="Rechercher par matricule"
              id=""
            />
          </div>

          <div class="mh-date">
            <i class="fa-regular fa-calendar"></i>20 March 2024
          </div>
          <div class="mh-profil">
            <div class="photo-profil"></div>
            <div class="profil">
              <div class="profil-role">SUPER ADMIN</div>
              <div class="profil-name">
                Admin Admin
                <i class="fa fa-angle-down"></i>
              </div>
            </div>
          </div>
        </div>
        <div class="right-middle">
          <div class="breadcrumbs">
            <span>Référentiels</span>
            <div>
              <span>Référentiels ></span>
              <span>Liste</span>
            </div>
          </div>
          <div class="content">
            <div class="referentiels">
              <div class="item">
                <div class="top">
                  <i class="fas fa-ellipsis-h"></i>
                </div>
                <div class="img"></div>
                <div class="bottom">
                  <span>Dev web/mobile</span>
                  <span class="activer">Active</span>
                </div>
              </div>
              <div class="item">
                <div class="top">
                  <i class="fas fa-ellipsis-h"></i>
                </div>
                <div class="img"></div>
                <div class="bottom">
                  <span>Referent Digital</span>
                  <span class="activer">Active</span>
                </div>
              </div>
              <div class="item">
                <div class="top">
                  <i class="fas fa-ellipsis-h"></i>
                </div>
                <div class="img"></div>
                <div class="bottom">
                  <span>Aws</span>
                  <span class="activer">Active</span>
                </div>
              </div>
              <div class="item">
                <div class="top">
                  <i class="fas fa-ellipsis-h"></i>
                </div>
                <div class="img"></div>
                <div class="bottom">
                  <span>Hackeuse</span>
                  <span class="activer">Active</span>
                </div>
              </div>
              <div class="item">
                <div class="top">
                  <i class="fas fa-ellipsis-h"></i>
                </div>
                <div class="img"></div>
                <div class="bottom">
                  <span>Developpement Data</span>
                  <span class="activer">Active</span>
                </div>
              </div>
            </div>
            <div class="form-referentiels">
              <form action="" method="post">
                <span>Nouveau Référentiel</span>
                <div class="form-input">
                  <span>Libelle</span>
                  <input
                    type="text"
                    name=""
                    id=""
                    placeholder="Entrer le libelle"
                  />
                </div>
                <div class="form-input">
                  <span>Libelle</span>
                  <input
                    type="text"
                    name=""
                    id=""
                    placeholder="Entrer la description"
                  />
                </div>
                <button type="submit">Enregistrer</button>
              </form>
            </div>
          </div>
        </div>

        <div class="footer">
          <span>&copy; Sonatel Academy</span>
          <i class="fa-solid fa-gear"></i>
        </div>
      </div>
    </div>
  </body>
</html>
